<div class="footer-container">
  <footer class="wrapper">
    <div class="footer-column">
      <h4 class="footer-heading">Blacklight</h4>
      <div class="site-footer">
         <div class="contact-info">
           <ul class="contact-list">
             <li><a href="https://github.com/projectblacklight/blacklight/wiki#support">Questions?</a></li>
             <li><a href="mailto:blacklight-development@googlegroups.com">blacklight-development@googlegroups.com</a></li>
             <li><a href="https://webchat.freenode.net/?channels=#blacklight">#blacklight on chat.freenode.net</a></li>
           </ul>
         </div>
      </div>
    </div>
  </footer>
</div>