
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">

<head profile="http://gmpg.org/xfn/11">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<title>{{ page.title }}  ::  Blacklight</title>

	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/css/blueprint-wp.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/css/print.css" type="text/css" media="print">

	<!-- To use a custom stylesheet, uncomment the next line: -->
	<link rel="stylesheet" href="/css/custom.css" type="text/css" media="screen, projection">

	<!-- Javascripts  -->
	<script type="text/javascript" src="/js/functions.js"></script>
	<!--[if lt IE 7]>
	<script defer type="text/javascript" src="/js/pngfix.js"></script>
	<![endif]-->

	<!-- Show the grid and baseline  -->
	<style type="text/css">
/*		.container { background: url(/css/lib/img/grid.png); }*/
	</style>

<link rel='index' title='Blacklight' href='http://projectblacklight.org' />
<link rel='canonical' href='http://projectblacklight.org' />
<link rel="alternate" type="application/atom+xml" title="Atom for results" href="/atom.xml" />

</head>
<body>

<div class="container">

	<!-- Header -->
  <div class="column span-12 first" id="header">

					<!-- Site Name -->
					<a href="http://projectblacklight.org/" class="logo"></a>
					<h1>Blacklight</h1>
					<!-- If not using logo:
          <a href="http://projectblacklight.org/" class="logo"><h1>Blacklight</h1></a> -->
					<div class="description">The home of the open-source Blacklight OPAC project</div>
					<a href="https://github.com/projectblacklight/blacklight/wiki/README_INSTALLATION" class="download-source" id="download_button" title="Installation Directions"><span class="icon"></span>Install</a>

  </div> <!-- #header -->
	

	<!-- Navigation -->
  <div class="column span-12 first large" id="nav">
			<div class="content">
				<ul>
					<li class="page_item first"><a href="/index.html">Home</a></li>
					<li class="page_item page-item-84"><a href="/blog.html" title="Blog">Blog</a></li>
<li class="page_item page-item-124"><a href="/support.html" title="Support">Support</a></li>
<li class="page_item page-item-3"><a href="/faq.html" title="FAQ">FAQ</a></li>
<li class="page_item page-item-6"><a href="/examples.html" title="Examples">Examples</a></li>
<li class="page_item"><a href="http://demo.projectblacklight.org/">Demo</a></li>
<li class="page_item page-item-2"><a href="/principles.html" title="Community Principles">Community Principles</a></li>
				</ul>
			</div>
  </div>
	<!-- End Navigation -->


<div id="page">

	<div class="column span-9 first" id="maincontent">

		<div class="content">
			<div class="post">
                          <h2>{{ page.title }}</h2>
       <p class="small"> {{ page.date | date_to_string }} </p>
       <div class="entry">
         {{ page.content }}
       </div>

			</div>
<div id="disqus_thread"></div>
<script type="text/javascript">
  /**
    * var disqus_identifier; [Optional but recommended: Define a unique identifier (e.g. post id or slug) for this thread] 
    */
  (function() {
   var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
   dsq.src = 'http://projectblacklight.disqus.com/embed.js';
   (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript=projectblacklight">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>

	</div> <!-- /content -->
</div> <!-- /maincontent-->

<div class="column span-3 last" id="sidebar">
	
		<ul>
							<li id="linkcat-10" class="linkcat"><h2>Useful links</h2>
	<ul class='xoxo blogroll'>
<li><a href="https://github.com/projectblacklight/blacklight" title="main code repository" target="_top">Code Repository</a></li>
<li><a href="http://hudson.projectblacklight.org" title="Blacklight&#8217;s Hudson continuous integration build" target="_top">Continuous Integration Build</a></li>
<li><a href="http://jira.projectblacklight.org/jira/browse/CODEBASE?report=com.atlassian.jira.plugin.system.project%3Aroadmap-panel" title="roadmap of current development">Development Roadmap</a></li>
<li><a href="http://irclogs.projectblacklight.org/" title="#blacklight irc channel logs" target="_top">IRC Logs</a></li>
<li><a href="http://jira.projectblacklight.org/" title="Project Blacklight Issue Tracker">JIRA</a></li>

	</ul>
</li>

		</ul>
</div> <!-- /sidebar -->

</div> <!-- /page -->

	<div id="footer">
<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/us/88x31.png" /></a><br />This work by <a xmlns:cc="http://creativecommons.org/ns#" href="http://projectblacklight.org" property="cc:attributionName" rel="cc:attributionURL">http://projectblacklight.org</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/us/">Creative Commons Attribution-Share Alike 3.0 United States License</a>.<br/>

	</div>

</div> <!-- /container -->


<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10828362-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
